<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Contact</title>
  </head>
  <body>
    <h1>Add Contact</h1>
    <h3><i>please fill out the form below</i></h3>
    <form action='/' method='post'>
        <label for='new-name'>Name:</label>
        <input id='new-name' name='new-name' type='text'>
        <label for='new-address'>Address:</label>
        <input id='new-address' name='new-address' type='text'>
        <label for='new-number'>Telephone:</label>
        <input id='new-number' name='new-number' type='number'>
        <button type='submit'>Add</button>
    </form>
  </body>
</html>
