<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <h3>Add a new item:</h3>
    <form action='/' method='post'>
        <label for='new-name'>Name:</label>
        <input id='new-name' name='new-name' type='text'>
        <button type='submit'>Add item</button>
    </form>
  </body>
</html>
