<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact App</title>
  </head>
  <body>
    <h1>my contacts:</h1>
    <ul>
      @foreach (var contact in Model)
      {
        <li><a href='/contacts/@contact.GetId()'>@contact.GetName()</a></li>
      }
    </ul>
    <a href ='/contacts/new'>Add new contact</a>
    <form action="/contacts/clear" method="post">
      <button type="submit" name="clear">Clear List</button>
    </form>
  </body>
</html>
